.swagger-ui pre {
  background: initial;
  border-radius: initial;
}

.swagger-ui table {
  margin-bottom: initial;
  display: table;
  overflow: initial;
}

.swagger-ui table tr {
  background-color: initial;
  border: initial;
}
.swagger-ui td {
  border: initial;
}

.swagger-ui pre code {
  color: inherit;
  border-radius: initial;
  word-wrap: initial;
}

.swagger-ui table thead tr td, .swagger-ui table thead tr th {
  border-left:none;
  border-right:none;
  border-top:none;
  background-color: inherit;
}
